.app{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: gray
}

#drum-machine{
    background-color: yellow;
    align-items: center;
    width: 500px;
}

#id-display{
    display:grid;
    grid-template-columns: 20px 20px 20px;
}

button {
    width: 70px;
    height: 70px;
    background-color: purple;
}