.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray
}

#drum-machine {
    background-color: lightgray;
    align-items: center;
    width: 500px;
    padding: 20px;
    border-style: solid;
    border-color: orange;
    display: flex;
    justify-content: space-between;
}

#id-display {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;

}

.drum-pad {

    background-color: gray;
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0cqmin
}

#configuration{
    background-color: green;
    display: grid;
    width: 210px;
    text-align: center;
}

#music-name{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 45px;
    margin:10px;
}