.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray
}

#drum-machine {
    background-color: lightgray;
    align-items: center;
    width: 450px;
    padding: 20px;
    border-style: solid;
    border-color: orange;
    display: flex;
    justify-content: space-between;
}

#id-display {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;

}

.drum-pad {

    background-color: gray;
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0cqmin
}

#configuration{
    /* background-color: green; */
    display: grid;
    width: 210px;
    text-align: center;
}

#music-name{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 45px;
    margin:10px;
}

#power{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.label{

    font-size: 12px;
    font-weight: bold;


}

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;

    height:29px;
    margin-top: 0px;
    padding-top: 0px;
    width: 100px;
    margin: 0;
    padding-inline: 5px;

}

#bank{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    /* width: 15rem */
    height: 3px;
    background: #3b3b3b;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: blue;
    height: 20px;
    width: 7px;    
    border-color: black;
    border-radius: 0
 }